In [1]:
import pandas as pd
import numpy as np

In [2]:

df1019_csv = "Data/JC-201910-citibike-tripdata.csv"
df1119_csv = "Data/JC-201911-citibike-tripdata.csv"
df1219_csv = "Data/JC-201912-citibike-tripdata.csv"
df0120_csv = "Data/JC-202001-citibike-tripdata.csv"
df0220_csv = "Data/JC-202002-citibike-tripdata.csv"
df0320_csv = "Data/JC-202003-citibike-tripdata.csv"
df0420_csv = "Data/JC-202004-citibike-tripdata.csv"
df0520_csv = "Data/JC-202005-citibike-tripdata.csv"
df0620_csv = "Data/JC-202006-citibike-tripdata.csv"

In [3]:
df1019 = pd.read_csv(df1019_csv)
df1119 = pd.read_csv(df1119_csv)
df1219 = pd.read_csv(df1219_csv)
df0120 = pd.read_csv(df0120_csv)
df0220 = pd.read_csv(df0220_csv)
df0320 = pd.read_csv(df0320_csv)
df0420 = pd.read_csv(df0420_csv)
df0520 = pd.read_csv(df0520_csv)
df0620 = pd.read_csv(df0620_csv)

In [4]:
df0620.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,122,2020-06-01 00:02:21.7500,2020-06-01 00:04:24.3250,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42489,Subscriber,1987,1
1,1282,2020-06-01 00:12:27.1090,2020-06-01 00:33:50.0540,3198,Heights Elevator,40.748716,-74.040443,3276,Marin Light Rail,40.714584,-74.042817,42183,Subscriber,1988,1
2,186,2020-06-01 01:19:59.2090,2020-06-01 01:23:05.8930,3275,Columbus Drive,40.718355,-74.038914,3681,Grand St,40.715178,-74.037683,42140,Subscriber,1987,1
3,131,2020-06-01 01:26:42.2050,2020-06-01 01:28:53.8040,3267,Morris Canal,40.712419,-74.038526,3681,Grand St,40.715178,-74.037683,42120,Subscriber,1987,1
4,266,2020-06-01 01:27:33.7090,2020-06-01 01:32:00.1890,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,42437,Subscriber,1972,2

In [5]:
citi_bike_data = pd.concat([df1019, df1119, df1219, df0120, df0220, df0320, df0420, df0520, df0620], ignore_index=True, sort=False)
citi_bike_data.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
230740,2828,2020-06-30 23:53:19.7380,2020-07-01 00:40:28.5760,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,18351,Customer,1969,0
230741,2729,2020-06-30 23:54:44.0100,2020-07-01 00:40:13.6470,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,44401,Customer,1969,0
230742,2788,2020-06-30 23:54:52.1920,2020-07-01 00:41:20.6500,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42334,Customer,1969,0
230743,2702,2020-06-30 23:56:14.6650,2020-07-01 00:41:16.7820,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42463,Customer,1969,0
230744,2649,2020-06-30 23:57:46.1490,2020-07-01 00:41:55.5060,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42468,Customer,1998,2

In [6]:
citi_bike_data['gender']

0         1
1         1
2         1
3         0
4         1
         ..
230740    0
230741    0
230742    0
230743    0
230744    2
Name: gender, Length: 230745, dtype: int64

In [7]:
citi_bike_data['Gender'] = citi_bike_data['gender'].replace([0,1,2], ['unkown', 'male', 'female'])
citi_bike_data = citi_bike_data.drop ('gender',1)

In [8]:
citi_bike_data.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,Gender
230740,2828,2020-06-30 23:53:19.7380,2020-07-01 00:40:28.5760,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,18351,Customer,1969,unkown
230741,2729,2020-06-30 23:54:44.0100,2020-07-01 00:40:13.6470,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,44401,Customer,1969,unkown
230742,2788,2020-06-30 23:54:52.1920,2020-07-01 00:41:20.6500,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42334,Customer,1969,unkown
230743,2702,2020-06-30 23:56:14.6650,2020-07-01 00:41:16.7820,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42463,Customer,1969,unkown
230744,2649,2020-06-30 23:57:46.1490,2020-07-01 00:41:55.5060,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42468,Customer,1998,female

In [9]:
citi_bike_data.isnull().any()

tripduration               False
starttime                  False
stoptime                   False
start station id           False
start station name         False
start station latitude     False
start station longitude    False
end station id             False
end station name           False
end station latitude       False
end station longitude      False
bikeid                     False
usertype                   False
birth year                 False
Gender                     False
dtype: bool

In [ ]:
citi_bike_data.to_csv('Data/Oct19_Jun20_JC_Citi_Bike_Data.csv')